{% unless product.metafields.my_fields.expert_recommendation == NIL %}
  <div style="display: flex; flex-direction: column; padding: 1em; gap: 1em">
    <p>{{ product.metafields.my_fields.expert_recommendation }}</p>
  </div>
{% endunless %}
