{% unless product.metafields.my_fields.expert_recommendation == NIL %}
  <div style="display: flex; flex-direction: column; padding: 1em; border: 1px solid black; border-radius: 10px">
    <div style="display: flex; flex-direction: row; gap: 1em">
      <h2>Unsere Expertin empfiehlt:</h2>
    </div>
    <p>{{ product.metafields.my_fields.expert_recommendation }}</p>
  </div>
{% endunless %}
