{% unless product.metafields.my_fields.expert_recommendation == NIL %}
  <div style="display: flex; flex-direction: column; padding-left: 1em; padding-right: 1em; border: 1px solid black; border-radius: 10px">
    <div style="display: flex; flex-direction: row; gap: 1em; align-items: center">
      <img
        src="https://cdn.shopify.com/s/files/1/0574/4351/6613/files/kerstin-hermann_NpFU.webp"
        alt="Kerstin Hermann"
        width="50px"
        height="50px"
        style="border-radius: 100%"
      >
      <h2>Unsere Expertin empfiehlt:</h2>
    </div>
    <div style="display: flex; flex-direction: row; gap: 1em; align-items: center">
      <span style="">"</span>
      <p style="font-style: italic">{{ product.metafields.my_fields.expert_recommendation }}</p>
    </div>
  </div>
{% endunless %}
